@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .menu
    max-width: 600px
    font-size: 11px
    margin: 0 20px 0 auto

    li
      a
        width: 80px

  footer .application
    margin: 0 0 0 20px

  h3
    font-size: 18px

  .news-brand-card__content
    padding: 20px

  .news-brand-card
    .box-text
      font-size: 16px

    .links-share
      margin: 0 auto 0 15px

  .gallery-brand-card__dates
    font-size: 20px

  .gallery-brand-card .brand-info-gallery__item
    width: 30%

  .flavor-rating
    margin: 30px 0 0

  .flavor-icons
    width: 100%
    margin: 10px 0 0

    li
      margin: 0 10px 0 0

  .mix-box
    &__img
      width: 150px

    &__body
      width: calc(100% - 150px)

  .select-city
    max-width: 220px
    width: 100%

  .select-type
    max-width: 160px

  .event-address
    margin: 0 auto 0 0

  .school-box .gallery-box__footer
    padding: 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header
    padding: 20px 0

  .logo
    max-width: 150px

  .about
    padding: 10px 0 40px
    h2
      text-align: center
    .tab-content
      color: rgb(106,106,106)

  .about-apps
    max-width: none
    padding: 20px 0 0
    width: 100%
    margin: 20px 0 0
    border: none
      top: 1px solid $accent
    h3
      text-align: center
    .social
      justify-content: center
      margin: 20px auto 0

  footer
    padding: 20px 0

    .application li a
      max-width: 120px

  .gallery-brand-card .brand-info-gallery
    padding: 0
    justify-content: center
    margin: 30px 0 0

  .gallery-brand-card .brand-info-gallery__item
    max-width: 200px

  .reviews-brand-card
    margin: 30px 0 20px

  .flavors-wrapper
    margin: 0

  .flavors-box__content
    padding: 0 0 0 20px

  .flavor-card-characteristics__item
    width: 120px
    font-size: 13px

  .flavor-page-details__img
    max-width: 400px
    margin: 0 auto 30px

  .mixes-section .sorting-box
    margin: 0 0 20px auto

  .form-search
    margin: 0 0 20px auto

  .hookah-box
    padding: 20px

    &__img
      width: 120px
      height: 120px

    &__body
      width: calc(100% - 120px)
      padding: 0 0 0 20px

  .hookah-photo
    height: 160px

  .hookah-page-content .box-text
    font-size: 16px
    margin: 0 0 30px

  .hookah-page
    padding: 0 0 20px

  .hookah-card
    margin: 20px auto 0

  .shop-card__img
    width: 120px
    height: 120px
    min-width: 120px

  .shop-card__it-last
    padding: 0 20px

  .events-section .form-search
    margin: 0 0 20px

  .event-box
    &__img
      width: 150px

    &__body
      width: calc(100% - 150px)

  .event-content
    margin: 15px 0 30px

  .event-img
    margin: 0 0 30px

  .sales-section .sorting-box-filter .select
    margin: 0 20px 0 0

  .video-page
    .sorting-wrapper
      margin: 0 0 20px
      flex-direction: column
      align-items: flex-start

      .sorting-box
        margin: 0 0 10px

        &:last-child
          margin: 0

    .form-search
      margin: 0 0 20px

  .comments-rating .sorting-box
    margin: 0 22px 0 auto


  .contacts-page-item .mail
    font-size: 24px
    margin: 0 0 20px

  .contacts-page
    padding: 30px 0 60px

  .contacts-page-item
    margin: 0 0 30px
    h3
      font-size: 18px
      margin: 0 0 15px

  .list-social-my li
    margin: 0 15px 0 0
    a
      width: 40px
      height: 40px

  .header-contacts .menu
    max-width: 600px

  .brand-card
    margin: 0 0 30px

  .shop-card .list-social
    li
      margin: 0 10px 0 0
    .vk-links
      width: 34px
      height: 22px
    .inst-links
      width: 24px
      height: 26px
    .telegram-links
      width: 28px
      height: 22px
    .youtube-links
      width: 26px
      height: 26px
    .fb-links
      width: 24px
      height: 20px

  .hookah-card
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    position: relative
    &__img
      margin: 0
      position: absolute
      right: 0
      top: 0
    .mail-links
      width: 100%
      margin: 10px 0 0
    .btn
      margin: 0 10px 0 0
    .rating-brand
      order: 1
      margin: 20px 0 0
      width: 100%
    .list-social
      width: 100%
      margin: 0 0 10px

  .nav-pages
    margin: 20px 0

  .application li a
    margin: 0 auto

  .home
    .box-text
      max-width: 60%
    h1
      br
        display: none

/* Small Devices, Tablets */
@media only screen and (max-width: 880px)
  .menu
    display: none

  .header
    .logo
      margin: 0 auto 0 0

    .header-wrapper
      align-items: center

    .btn-burger
      display: flex

  .links-cabinet
    margin: 0 20px 0 0

  .shop-card__it-last
    margin: 20px auto
    padding: 20px 0 0
    border: none
      top: 2px solid #969696
    width: 100%

  .header-contacts .btn-burger
    display: flex
    margin: 0 0 0 auto

  .rating-page-img
    max-width: none

@media only screen and (max-width: 768px)

  .nav-tabs-my .nav-link
    font-size: 14px

  footer
    margin: 30px 0 0

    .logo
      margin: 0 auto 20px

    .application
      width: 100%
      margin: 10px auto 0
      justify-content: center

  .join
    width: 100%
    text-align: center

    h3
      margin: 0 auto

  .brand-info-gallery
    margin: 30px 0 0
    justify-content: space-between

  .brand-info-gallery__item
    margin: 0 0 20px
    width: calc(50% - 10px)

  .brand-info-box .box-text
    font-size: 16px

  .menu-brands a
    margin: 0 0 20px

  .news-brand
    padding: 0 0 50px

  .nav-pages
    margin: 20px 0

  .news-brand-card__dates
    padding: 20px
    width: 120px

  .date-num
    font-size: 24px

  .date-year
    font-size: 18px

  .news-brand-card__content
    width: calc(100% - 120px)

  .news-brand-card
    margin: 0 0 30px

  .news-brand-card__footer
    .btn
      margin: 20px 0 0
      max-width: none

  .gallery-brand-card__dates
    text-align: left
    margin: 0 0 20px

  .video-box__footer
    flex-direction: column
    align-items: flex-start

  .video-box__date
    margin: 10px 0 0

  .contact-brand
    .btn-group
      width: 100%
      flex-direction: row
      justify-content: space-around
      margin: 20px 0 0

      .btn
        margin: 0 0 20px

        &:last-child
          margin: 0 0 20px

    h3
      margin: 0 0 20px

    .schedule
      margin: 20px 0

  .contacts-box
    font-size: 16px

  .sorting-reviews-brand
    text-align: left
    margin: 30px 0 0

  .share-links
    margin: 0

  .add-grade
    margin: 0 auto

  .checkbox
    justify-content: flex-start

  .flavors-box
    padding: 20px
    font-size: 16px

    &__title
      font-size: 20px
      margin: 0 0 10px

    &__icon
      max-width: 100px

    &__content
      padding: 0 0 0 10px
      width: calc(100% - 100px)

  .sorting-wrapper
    margin: 30px 0 0

  .modal-body
    padding: 0 10px

  .form-search
    margin: 0 0 20px

  .mixes-section .nav-tabs-my .nav-link
    font-size: 18px
    height: 40px

  .mix-page .form-search
    margin: 0 0 23px

  .shop-page .mail-links
    margin: 0 0 0 auto

  .select-type
    max-width: 180px

  .school-page h1
    font-size: 40px

  .school-box .gallery-box__img
    width: 150px

  .school-box .gallery-box__body
    width: calc(100% - 150px)
    padding: 20px

  #modalCall .modal-header
    padding: 0 10px 10px

  .gallery-banner-mix
    height: 300px

  .events-section
    .sorting-box
      margin: 0 0 10px
      p
        display: none
    .select-city, .form-search
      max-width: none

  .video-page
    .sorting-wrapper
      margin: 0
      width: 100%
      .sorting-box
        width: 100%
    .select-theme
      max-width: none
      margin: 0
      width: 100%
    .location-box p
      display: none

  .mt-45
    margin-top: 10px

  .rating-page .sorting-box
    margin: 0 10px 0 auto

  .form-call
    textarea
      margin: 10px 0
      height: 120px
    button
      height: 40px

  .label-file
    height: 140px

  .contacts-page-item .application li
    margin: 0 10px 10px 0
    &:last-child
      margin: 0

  .contacts-page-item
    h3
      margin: 0 0 10px
    .mail
      font-size: 18px


/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px)
  h2, .title
    font-size: 22px

  .news-brand-card
    flex-direction: column
    align-items: flex-start

    &__content
      width: 100%

    &__dates
      width: 100%
      border-radius: 15px 15px 0 0
      text-align: center
      padding: 10px 0

  .date-num
    font-size: 20px

  .date-year
    font-size: 16px

  .nav-pages li
    margin: 0 20px 0 0

  .news-brand
    padding: 0

  .reviews-brand-card__content
    padding: 0 0 0 20px

  .flavor-card-characteristics__item
    margin: 0 10px 10px 0

    &:last-child
      margin: 0 0 10px

  .mixes-category
    font-size: 18px

  .event-address
    width: 100%
    margin: 0 0 10px


  .sales-box
    position: relative
    padding: 13px
    &__img
      width: 100%
      margin: 0 auto 10px
      border-radius: 5px 5px 0 0

    &__body
      width: 100%
      padding: 0
      display: flex
      flex-direction: column
      align-items: flex-start
    h3
      font-weight: 500
    .links-favorite
      position: absolute
      right: 0
      bottom: 10px
    .btn
      order: 1
    &__footer
      margin: 0 0 5px
    .logo-company
      width: 32px
      height: 32px
    &__top
      min-height: auto
      margin: 0 0 10px
    h4
      margin: 0 0 5px
      font-size: 17px


  .video-clip
    flex-direction: column
    align-items: flex-start

    &__img
      width: 100%
      height: 200px

    &__body
      width: 100%
      padding: 0

  .gallery-box
    &__img
      width: 100%
      height: 200px
      border-radius: 5px 5px 0 0

    &__body
      width: 100%
      padding: 10px


  .gallery-section
    h1
      margin: 0 0 6px
      text-transform: uppercase
      font-size: 20px
    .box-text
      font-size: 15px
      line-height: 1.3
      margin: 0 0 10px
    .date
      font-size: 14px
      color: $accent

  .gallery-banner-mix-col
    padding: 0


  .hidden-block
    overflow: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 3
    line-clamp: 3
    display: block
    display: -webkit-box
    -webkit-box-orient: vertical

  .read-view
    display: block

  .pagination-nav
    margin: 20px 0 0


  .page-link
    font-size: 20px

  .rating-page
    .box-text
      font-size: 16px

  .rating-page-img
    font-size: 14px

    .image
      height: auto

  .list-number
    font-size: 16px

  .school-page
    h1
      font-size: 34px
      margin: 0 0 20px
      max-width: 300px
    .form-search
      background: $text
      border-radius: 10px
      border: 1px solid $accent
      input
        color: #fff
        &::placeholder
          color: #fff

  .school-box
    box-shadow: 0 0 30px rgba(#000, .4)
    .gallery-box__img
      width: 100%
      height: 200px
      border-radius: 5px 5px 0 0
      margin: 0 auto
    .gallery-box__body
      width: 100%
      padding: 20px
    .gallery-box__footer
      margin: 10px 0 0
      position: relative
      justify-content: flex-start
      flex-direction: column
      align-items: flex-start
      .date
        text-align: left
        margin: 0
        span
          display: none
        br
          display: none
      .btn
        position: absolute
        right: 0
        top: 0
      .gallery-box-time
        color: rgba($text, .4)
        order: 1
        margin: 3px 0 0

  .contacts-page-app
    margin: 30px 0 0
    padding: 0
    border: none

  .header
    padding: 10px 0
    position: absolute
    background: transparent
    border: none

    .logo
      order: 1
      margin: 0 0 0 auto

  .btn-burger__text
    display: none

  .btn-burger__icon
    margin: 0

  .home
    padding: 120px 0 80px
    background-position: 40% center
    h1
      font-size: 24px

    .box-text
      font-size: 16px

  h1
    font-weight: 500
    font-size: 24px
    margin: 0 0 7px

  .rating-brand__links
    margin: 0 5px 0 0

  .about
    padding: 30px 0 40px
    .social p
      display: none
    .list-social
      max-width: 180px
      width: 100%
      margin: 10px auto 0
      flex-direction: row
      align-items: center
      justify-content: space-between
      li
        margin: 0
    .tab-content
      margin: 20px 0
    h2
      margin: 0 auto 10px

  .application li
    margin: 0 auto 10px

  .title
    margin: 0 auto 0 10px
    color: $accent
    font-weight: 500
    font-size: 18px

  .menu-brands
    .row
      flex-wrap: nowrap
      overflow-x: auto
      padding: 0 10px 0 0

    a
      height: 30px
      font-size: 14px

  .nav-tabs
    flex-wrap: nowrap
    overflow-x: auto
    padding: 0 10px 0 0

  header
    padding: 20px 0 10px

  .brands-section
    margin: 10px 0 20px

    .form-search
      display: flex
      width: 49%

      input
        font-size: 12px
        background: rgba($text, .1)
        border: 1px solid rgba($text, .2)
      button
        background: $text
    .sorting-box
      width: 49%
      margin: 0 0 20px auto
      justify-content: flex-end

      p
        display: none

    .sorting-wrapper
      .sorting-box
        width: 100%
    .rating-brand
      margin: 0 0 0 auto
      justify-content: flex-end


  .brand-info-box
    margin: 0 0 30px
    h3
      margin: 0 0 20px



  .brand-box-mix
    height: auto
    width: 100%
    position: relative
    padding: 10px 0
    .brand-box__name
      margin: 0 auto 5px
    .brand-box__icon
      box-shadow: 0 1px 7px rgba(#000,.12)
      width: fit-content
      margin: 0 auto 10px
      position: relative
      padding: 5px
      max-width: 220px
      height: 130px
      img
        max-height: 100%

  .brand-box, .brand-card-img
    box-shadow: 0 1px 14px rgba(#000,.27)


  .news-brand-card-date
    font-weight: 500
    font-size: 14px
    margin: 0 0 10px

  .news-brand-card
    margin: 0 0 20px
    .box-text
      line-height: 1.3
      margin: 10px 0
      font-size: 14px

  .news-brand-card__footer .btn
    margin: 10px 0 0

  .btn-accent
    height: 30px

  .sorting-wrapper
    margin: 0 0 0 auto
    width: 49%

  .flavor-page-line
    flex-direction: column
    align-items: flex-start
    margin: 0 0 10px
    h3
      font-size: 14px

  .dropdown-category
    width: calc(100% - 100px)
    .btn
      padding: 7px 10px
      justify-content: flex-start
      font-size: 13px

  .mb-10
    margin-bottom: 10px

  .flavor-page
    h1
      margin: 20px 0 5px
    .mb-39
      margin-bottom: 20px

  .flavor-card__cat
    margin: 5px 0 10px

  .result-total
    margin: 5px 0 0
    font-size: 12px

  .list-tags
    font-size: 12px
    margin: 0 0 10px
    li
      margin: 0 3px 3px 0

  .flavor-page-details__img
    max-width: 250px
    margin: 0 auto 15px

  .flavor-rating
    margin: 15px 0 0
    .btn-group
      .btn
        &:first-child
          display: none
    .details-rating-row
      margin: 0 0 10px

  .flavor-page-details
    .description-flavor
      margin: 0 0 20px
      h4
        margin: 0 0 10px
    .overall-assessment__item
      max-width: 110px
      width: 100%
      padding: 5px 10px
      margin: 0 15px 0 0
      &:nth-last-child(1)
        margin: 0

  .mix-page .sorting-box
    margin: 0 0 20px
    justify-content: flex-start

  .mix-page-details
    .mix-box__footer
      margin: 10px 0
    .rating-brand
      margin: 0 auto 0 0
    .flavor-page-details__img
      max-width: none
      width: 100%
      height: auto
      max-height: none
      padding-bottom: 62.5%
      position: relative
      margin: 0 auto 10px
      overflow: hidden
      img
        position: absolute
        left: 0
        top: 50%
        transform: translate(0,-50%)

    .description-flavor .box-text
      margin: 0 0 20px
      font-size: 14px

  .grade-mix
    border-radius: 10px
    background: rgba(228,228,228, 1)
    padding: 5px
    color: $text
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    span
      display: block
      font-weight: normal
    &__val
      background: $text
      color: #fff
      width: 40px
      height: 40px
      min-width: 40px
      margin: 0 10px 0 0
      font-size: 16px
      line-height: normal
      border: none
        radius: 50%


  .hookah-section
    .sorting-box
      margin: 0 0 10px
      justify-content: flex-start

    .location-box
      width: 100%
      max-width: none

      select
        max-width: none

  .events-section .form-search
    width: 100%
    max-width: none
    input
      font-size: 14px

  .event-box .box-text
    margin: 5px 0


  .shop-card__it
    order: -1
    padding: 0

    h3
      text-transform: none
      color: $accent
      font-weight: 500
      margin: 0 0 10px

      .svg-icon
        display: none


  .shop-card__img
    margin: -28px 0 10px auto
    width: 150px
    height: 150px
    box-shadow: 0 0 15px rgba(#000, .6)
    border-radius: 50%

  .hookah-box__img, .hookah-card__img
    box-shadow: 0 0 15px rgba(#000, .6)
    border-radius: 50%

  .shop-card__it-last
    order: 1
    border: none
    margin: 5px 0 10px

  .shop-card
    align-items: flex-start
    margin: 0 0 20px
    .btn-group
      order: 1
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between

      .btn
        width: 100%
        max-width: 49%
        margin: 0 0 10px
        font-size: 16px
        height: 35px

    .rating-brand
      width: 100%
      order: 1
      margin: 10px 0 0
      justify-content: flex-start

    .list-social
      margin: 0

    .phones
      color: $text
      margin: 0 0 10px
      font-size: 16px

    .mail-links
      margin: 0 0 5px

  .hookah-page-content
    h3
      margin: 0 0 15px
    .box-text
      margin: 0 0 20px
      font-size: 14px


  .hookah-card .btn
    height: 35px

  .hookah-card .mail-links
    margin: 0 0 5px

  .hookah-card .list-social
    margin: 5px 0 10px

  .hookah-card-info
    p
      margin: 0 0 5px

  .shop-photo, .hookah-photo, .gallery-photo, .gallery-banner-mix, .video-clip__img
    height: auto
    overflow: hidden
    position: relative
    width: 100%
    padding-bottom: 62.5%
    img
      position: absolute
      left: 0
      top: 0

  .video-clip h3
    margin: 0 0 5px

  .shop-page
    .nav-pages
      margin: 0 0 5px

  .schedule-box
    margin: 10px 0 0
    p
      display: block
      margin: 0 0 5px

  .event-img
    margin: 0 0 20px

  .event-content h3
    margin: 10px 0 20px

  .nav-tab__icon
    width: 20px
    min-width: 20px
    height: 20px
    margin: 0 10px 0 0

  .video-page .nav-tabs-my
    margin: 0 -10px

  .video-page .flavors-wrapper
    margin: 0

  .video-box__preview
    position: relative
    padding-top: 55.55%
    height: 0
    iframe, img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%


  .video-box__settings
    width: 25px
    height: 10px

  .video-box__name
    width: calc(100% - 25px)

  .gallery-brand
    .mb-35
      margin-bottom: 15px

  .box-text
    line-height: 1.3
    p
      margin: 0 0 15px

  .tooltip-box
    top: 10px
    right: 10px

  .nav-tabs-my
    margin: 0 -5px
    justify-content: flex-start
    .nav-item
      margin: 0 0 10px
      width: 200px
      flex: none
      max-width: none
      padding: 0 5px
    .nav-link
      font-size: 16px
      height: 30px
      font-weight: 500

  .mixes-section
    .nav-tabs-my
      margin: 0 -5px
      padding: 0
      .nav-item
        margin: 0 0 10px
        width: 140px
        flex: none
        max-width: none
        padding: 0 5px
      .nav-link
        font-size: 16px
        height: 30px
        font-weight: 500
    .form-search
      width: 100%
      margin: 0
    .sorting-box
      margin: 0 0 0 auto
      width: 100%
      justify-content: flex-end
    .rating-brand
      margin: 0 auto 0 0

  .mb-24
    margin-bottom: 15px

  .gallery-brand-card
    padding: 15px
    margin: 0 0 10px
    h3
      margin: 0 0 10px

  .gallery-brand-card .brand-info-gallery
    margin: 10px 0

  .brand-card-img
    margin: 0 0 15px

  .details-rating-row
    margin: 0 0 10px

  .total-rating-brand
    margin: 0 0 15px

  .sorting-reviews-brand
    margin: 20px 0 0
    display: flex
    align-items: center
    justify-content: space-between
    p
      display: none
    .checkbox
      margin: 0 0 5px

  .sorting-reviews-brand__group
    display: flex
    flex-direction: column-reverse
  .select-sorting
    background-position: left center
    padding: 0 0 0 20px

  .reviews-brand-card
    margin: 20px 0 15px

  .brand-card
    margin: 0 0 20px
    .box-text
      max-width: 80%
      margin: 0 0 15px

  .contact-brand
    h3
      margin: 0 0 15px
    .schedule
      margin: 10px 0
    .btn-group
      flex-direction: column
      align-items: flex-start
      .btn
        margin: 0 0 10px

  .flavors-page
    .form-search
      margin: 0
      width: 100%
    .sorting-box
      margin: 0 0 15px
      justify-content: flex-start
    .select
      padding: 0 0 0 20px
      background-position: left center

  .flavor-card__img
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.3))

  .nav-pages
    margin: 0 0 5px
    text-transform: uppercase

  .hookah-card-info
    font-size: 15px
    margin: 0 0 10px

  .hookah-card__img
    top: -25px
    width: 150px
    height: 150px

  .hookah-card
    .rating-brand
      margin: 10px 0 0
      justify-content: flex-start

  .events-section
    .sorting-box
      justify-content: flex-start

  .rating-page .sorting-box
    margin: 5px 0

  .links-shop
    margin: 0

  .video-box
    padding: 10px
    border-radius: 10px
    box-shadow: 0 10px 30px rgba(#000, .1)
    &__body
      padding: 10px 0 0 50px
    &__category
      color: $accent
    &__date
      color: rgba($text, .5)

  .video-page
    .form-search
      width: 100%
    .sorting-box
      margin: 0
      justify-content: flex-start
    .video-box
      &__body
        padding-left: 0

  .video-box__name
    font-size: 19px

  .rating-box h3
    margin: 0 0 10px

  .rating-page .date
    font-size: 14px

  .rating-page h1
    margin: 0 0 10px

  .rating-page-img p
    margin: 10px auto 0

  .rating-page .box-text
    margin: 10px 0

  .comments-rating__head
    display: flex
    flex-wrap: wrap
    align-items: center
    h3
      margin: 0 0 5px
      width: 100%
    .sorting-box
      width: fit-content
      margin: 0 0 0 auto
      order: 1

  .comments-rating
    margin: 30px 0 0

  .rating-page-box h4
    margin: 0 0 15px

  .rating-page-img
    margin: 0 0 20px

  .mb-35
    margin-bottom: 10px

  .shop-photo-col, .hookah-photo-col, .gallery-photo-col
    padding: 0 5px

  .hookah-photo-col
    margin-bottom: 10px

  .gallery-row
    margin: 0 -5px

  .mixes-category-col
    margin: 0 0 10px
    padding: 0 5px

  .gallery-photo-col
    display: none
    &:nth-child(-n+10)
      display: block

  .links-load
    margin: 20px 0 0
    font-size: 12px
    display: block

  .mixes-category
    height: 130px
    padding: 20px 10px 15px
    &__icon
      height: 50px

  .rating-page-img p
    color: $accent

  .rating-page-img .image
    width: calc(100% + 20px)
    margin: 0 -10px

  .breadcrumb
    margin: 5px 0 19px
    li
      margin: 0 20px 0 0
      &:last-child
        margin: 0
        height: 23px
        padding: 5px 5px 3px 5px
        border: 1px solid #ccc
          right: none
        position: relative
        background: #f9f9f9
        &:after
          content: ''
          width: 17px
          height: 17px
          border: 1px solid #ccc
            left: none
            bottom: none
          transform: rotate(45deg)
          position: absolute
          background: #f9f9f9
          right: -9px
          top: 2px
          z-index: -1
      a
        padding: 5px 5px 3px 5px
        border: 1px solid #ccc
          right: none
        position: relative
        background: #f9f9f9
        &:after
          content: ''
          width: 17px
          height: 17px
          border: 1px solid #ccc
            left: none
            bottom: none
          transform: rotate(45deg)
          position: absolute
          background: #f9f9f9
          right: -13px
          top: 2px
          z-index: -1



@media only screen and (max-width: 480px)
  .nav-tabs-my
    .nav-item
      width: 160px

  .home
    padding: 70px 0 40px

  .header
    .btn-burger
      margin: 0 0 0 10px

  footer
    .application
      li
        a
          max-width: 80px

  h3
    font-size: 16px

  .about
    padding: 10px 0 40px
    h2
      margin: 0 auto 10px


  .gallery-brand-card .brand-info-gallery
    justify-content: space-between
    margin: 10px 0 0

    .brand-info-gallery__item
      width: 48%
      margin: 0 0 10px
      display: none
      height: 90px

      &:nth-child(-n+2)
        display: flex

  .reviews-brand-card__content
    width: 100%
    padding: 0
    margin: 20px 0 0

  .reviews-brand-card__col
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    width: 100%
    padding: 0 0 0 50px
    position: relative

  .reviews-ava
    display: none

  .reviews-grade
    margin: 0
    width: 40px
    height: 40px
    position: absolute
    left: 0
    top: 0

  .reviews-grade__rating
    justify-content: center
    display: none

  .reviews-grade__val
    margin: 0
    width: 100%
    height: 100%

  .reviews-name
    padding: 0
    margin: 0
    color: $text
    width: 100%

  .reviews-id
    display: none

  .reviews-date
    display: block
    font-size: 12px

  .reviews-brand-card
    .btn
      max-width: 140px
    &__footer
      margin: 15px 0 0


  .sorting-wrapper
    flex-direction: column
    align-items: flex-start

    .sorting-box
      margin: 0 0 20px

  .flavor-card
    flex-direction: column
    align-items: flex-start

    &__img
      margin: 0 auto 20px

    &__body
      padding: 0
      margin: 0
      width: 100%

    .btn
      margin: 10px 0 0

  .modal-flavor .flavor-card__body
    width: 100%

  .flavor-card-characteristics__item
    width: 100px

  .modal-flavor .flavor-card
    margin: 0 0 20px

  .flavor-rating .details-rating
    column-count: 1

  .flavor-rating .btn-group
    flex-direction: column
    align-items: flex-start

    .btn
      margin: 0 0 10px


  .flavor-icons li
    margin: 0 10px 5px 0

    &:last-child
      margin: 0 0 5px



  .flavor-page-details
    .flavor-card-reviews
      padding: 20px
      margin: 0 0 20px
      position: relative
    .reviews-brand-card__content
      width: 100%
      padding: 0
      margin: 0


    .reviews-brand-card__col
      margin: 0
      position: absolute
      left: 20px
      top: 20px
      width: 50px
      height: 50px
      padding: 0
    .reviews-brand-card__top
      padding: 0 0 0 50px
      min-height: 40px
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
    .reviews-date
      margin: 5px 0 0

  .reviews-brand-card .box-text
    line-height: 1.3

  .flavor-page-details .sorting-wrapper
    margin: 10px 0 0
    .sorting-box
      margin: 0 0 20px
      justify-content: flex-start
      .select
        background-position: left  center
        padding: 0 0 0 20px

  .mixes-category
    height: 110px
    font-size: 16px
    padding: 20px 10px 15px
    &__icon
      height: 37px

  .mix-box
    &__img
      margin: 0 auto
      max-width: 240px
      width: 100%
      height: 180px


    &__footer
      margin: 10px 0 0

    &__body
      width: 100%
      padding: 0
      margin: 10px 0 0

  .select-city
    margin: 10px 0 0
    width: 100%
    max-width: none

  .events-section
    .select-city
      margin: 0

  .hookah-box
    &__img
      width: 80px
      height: 80px

    &__body
      width: calc(100% - 80px)

    .address
      font-size: 14px

  .shop-page, .hookah-page
    .mail-links
      width: 100%
      margin: 0 0 5px

  .shop-card__img
    width: 120px
    height: 120px
    min-width: 120px

  .event-box
    &__img
      width: 100%
      height: 200px

    &__body
      width: 100%
      padding: 10px

  .comments-rating
    margin: 30px 0 0

    h3
      width: 100%
      margin: 0 0 10px

    .sorting-box
      margin: 0 auto 0 0

  .btn
    font-size: 15px

  .reviews-brand-card
    padding: 20px

  .rating-page
    .comments-rating
      .sorting-box
        margin: 0 0 0 auto


  .comments-rating-box
    .reviews-name
      text-align: left
      padding: 0
    .reviews-ava
      display: flex
    .reviews-brand-card__col
      padding: 0
    .reviews-id
      margin: 0
      text-align: left
      display: block
    .reviews-brand-card__content
      margin: 10px 0 0
      padding: 0

  .school-box .gallery-box__footer

    .btn
      margin: 0 auto
      max-width: 140px

  .school-page h1
    font-size: 26px

  .logo
    max-width: 120px

  header
    position: fixed
    left: 0
    top: 0
    background: #fff
    z-index: 3
    width: 100%
    border-bottom: 1px solid rgba($text, .3)
    padding: 5px 0

    .btn-burger
      order: -1


    .links-cabinet
      display: none

    .logo
      order: 1
      margin: 0 0 0 auto

  .header-contacts .btn-burger
    margin: 0

  .content
    padding: 44px 0 0

  .content-home
    padding: 0

  .subcategory
    font-size: 15px
    margin: 0 0 10px

  .hookah-card__img
    width: 120px
    height: 120px

  .hookah-card .btn
    font-size: 16px
    max-width: 48%

  .hookah-card-info__icon
    display: none

  .hookah-card-info
    font-size: 16px

  .hookah-card-info__address
    color: $accent

  .logo-pc
    display: none

  .logo-mobile
    display: block


/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .home
    background-position: 45% center
    .box-text
      max-width: 70%
      font-size: 15px
    h1
      font-size: 22px

  .pagination .page-item
    margin: 0 10px 0 0
    font-size: 14px

  .page-link
    font-size: 14px

  .breadcrumb li
    margin-bottom: 3px

@media only screen and (max-width: 360px)
  .header .btn-burger
    margin: 0

  .logo
    max-width: 100px

  .comments-rating
    .sorting-box
      width: 100%
      margin: 0 0 10px
      max-width: none

  .content
    padding: 50px 0 0

  .content-home
    padding: 0

  h2, .title
    font-size: 20px

  .video-box__preview
    height: 120px

  .rating-page .comments-rating
    .comments-rating__head
      .btn
        max-width: 150px
    .sorting-box
      width: fit-content