@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .menu
    max-width: 600px
    font-size: 11px
    margin: 0 20px 0 auto

    li
      a
        width: 80px

  footer .application
    margin: 0 0 0 20px

  h3
    font-size: 18px

  .news-brand-card__content
    padding: 20px

  .news-brand-card
    .box-text
      font-size: 16px

    .links-share
      margin: 0 auto 0 15px

  .gallery-brand-card__dates
    font-size: 20px

  .gallery-brand-card .brand-info-gallery__item
    width: 30%

  .flavor-rating
    margin: 30px 0 0

  .flavor-icons
    width: 100%
    margin: 10px 0 0

    li
      margin: 0 10px 0 0

  .mix-box
    &__img
      width: 150px

    &__body
      width: calc(100% - 150px)

  .select-city
    max-width: 220px
    width: 100%

  .select-type
    max-width: 150px

  .event-address
    margin: 0 auto 0 0

  .school-box .gallery-box__footer
    padding: 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header
    padding: 20px 0

  .logo
    max-width: 150px

  .about
    padding: 10px 0 40px

    .tab-content
      margin: 20px 0 40px

  footer
    padding: 20px 0

    .application li a
      max-width: 120px

  .gallery-brand-card .brand-info-gallery
    padding: 0
    justify-content: center
    margin: 30px 0 0

  .gallery-brand-card .brand-info-gallery__item
    max-width: 200px

  .reviews-brand-card
    margin: 30px 0 20px

  .flavors-wrapper
    margin: 0

  .flavors-box__content
    padding: 0 0 0 20px

  .flavor-card-characteristics__item
    width: 120px
    font-size: 13px

  .flavor-page-details__img
    max-width: 400px
    margin: 0 auto 30px

  .mixes-section .sorting-box
    margin: 0 0 20px

  .form-search
    margin: 0 0 20px auto

  .hookah-box
    padding: 20px

    &__img
      width: 120px
      height: 120px

    &__body
      width: calc(100% - 120px)
      padding: 0 0 0 20px

  .hookah-photo
    height: 160px

  .hookah-page-content .box-text
    font-size: 16px
    margin: 0 0 30px

  .hookah-page
    padding: 0 0 20px

  .hookah-card
    margin: 20px auto 0

  .shop-card__img
    width: 120px
    height: 120px
    min-width: 120px

  .shop-card__it-last
    padding: 0 20px

  .events-section .form-search
    margin: 0 0 20px

  .event-box
    &__img
      width: 150px

    &__body
      width: calc(100% - 150px)

  .event-content
    margin: 15px 0 30px

  .event-img
    margin: 0 0 30px

  .sales-section .sorting-box-filter .select
    margin: 0 20px 0 0

  .video-page
    .sorting-wrapper
      margin: 0 0 20px
      flex-direction: column
      align-items: flex-start

      .sorting-box
        margin: 0 0 10px

        &:last-child
          margin: 0

    .form-search
      margin: 0 0 20px

  .comments-rating .sorting-box
    margin: 0 22px 0 auto

  .form-call
    label
      margin: 0 0 20px
      &:last-child
        margin: 0 0 20px

  .contacts-page-item .mail
    font-size: 24px
    margin: 0 0 20px

  .contacts-page
    padding: 30px 0 60px
    .list-social
      margin: 0 0 30px

  .header-contacts .menu
    max-width: 600px

  .brand-card
    margin: 0 0 30px

/* Small Devices, Tablets */
@media only screen and (max-width: 880px)
  .menu
    display: none

  .header
    .logo
      margin: 0 auto 0 0

    .header-wrapper
      align-items: center

    .btn-burger
      display: flex

  .links-cabinet
    margin: 0 20px 0 0

  .shop-card__it-last
    margin: 20px auto
    padding: 20px 0 0
    border: none
      top: 2px solid #969696
    width: 100%

  .header-contacts .btn-burger
    display: flex
    margin: 0 0 0 auto

@media only screen and (max-width: 768px)
  .home h1
    font-size: 50px

  .nav-tabs-my .nav-link
    font-size: 14px

  footer
    margin: 30px 0 0

    .logo
      margin: 0 auto 20px

    .application
      width: 100%
      margin: 10px auto 0
      justify-content: center

  .join
    width: 100%
    text-align: center

    h3
      margin: 0 auto

  .brand-info-gallery
    margin: 30px 0 0
    justify-content: space-between

  .brand-info-gallery__item
    margin: 0 0 20px
    width: calc(50% - 10px)

  .brand-info-box .box-text
    font-size: 16px

  .menu-brands a
    margin: 0 0 20px

  .news-brand
    padding: 0 0 50px

  .nav-pages
    margin: 20px 0

  .news-brand-card__dates
    padding: 20px
    width: 120px

  .date-num
    font-size: 24px

  .date-year
    font-size: 18px

  .news-brand-card__content
    width: calc(100% - 120px)

  .news-brand-card
    margin: 0 0 30px

  .news-brand-card__footer
    .btn
      margin: 20px 0 0
      max-width: none

  .gallery-brand-card__dates
    text-align: left
    margin: 0 0 20px

  .video-box__footer
    flex-direction: column
    align-items: flex-start

  .video-box__date
    margin: 10px 0 0

  .contact-brand
    .btn-group
      width: 100%
      flex-direction: row
      justify-content: space-around
      margin: 20px 0 0

      .btn
        margin: 0 0 20px

        &:last-child
          margin: 0 0 20px

    h3
      margin: 0 0 20px

    .schedule
      margin: 20px 0

  .contacts-box
    font-size: 16px

  .sorting-reviews-brand
    text-align: left
    margin: 30px 0 0

  .share-links
    margin: 0

  .add-grade
    margin: 0 auto

  .checkbox
    justify-content: flex-start

  .flavors-box
    padding: 20px
    font-size: 16px

    &__title
      font-size: 20px
      margin: 0 0 10px

    &__icon
      max-width: 100px

    &__content
      padding: 0 0 0 10px
      width: calc(100% - 100px)

  .sorting-wrapper
    margin: 30px 0 0

  .modal-body
    padding: 0 10px

  .form-search
    margin: 0 0 20px

  .mixes-section .nav-tabs-my .nav-link
    font-size: 18px
    height: 40px

  .mix-page .form-search
    margin: 0 0 23px

  .shop-page .mail-links
    margin: 0 0 0 auto

  .select-type
    max-width: 180px

  .school-page h1
    font-size: 40px

  .school-box .gallery-box__img
    width: 150px

  .school-box .gallery-box__body
    width: calc(100% - 150px)
    padding: 20px

  #modalCall .modal-header
    padding: 0 10px 10px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .home h1
    font-size: 30px

  .home .box-text
    font-size: 16px

  h2, .title
    font-size: 22px

  .news-brand-card
    flex-direction: column
    align-items: flex-start

    &__content
      width: 100%

    &__dates
      width: 100%
      border-radius: 15px 15px 0 0
      text-align: center
      padding: 10px 0

  .date-num
    font-size: 20px

  .date-year
    font-size: 16px

  .nav-pages li
    margin: 0 20px 0 0

  .news-brand
    padding: 0

  .reviews-brand-card__content
    padding: 0 0 0 20px

  .flavor-card-characteristics__item
    margin: 0 10px 10px 0

    &:last-child
      margin: 0 0 10px

  .mixes-category
    font-size: 18px

  .event-address
    width: 100%
    margin: 0 0 10px

  .sales-box
    &__img
      width: 200px
      margin: 0 auto 20px
      border-radius: 5px 5px 0 0

    &__body
      width: 100%
      padding: 0

  .video-clip
    flex-direction: column
    align-items: flex-start

    &__img
      width: 100%
      height: 200px

    &__body
      width: 100%
      padding: 0

  .gallery-box
    &__img
      width: 100%
      height: 200px
      border-radius: 5px 5px 0 0

    &__body
      width: 100%
      padding: 10px

  .mt-45
    margin-top: 20px

  .gallery-section .box-text
    font-size: 16px

  .pagination-nav
    margin: 20px 0 0


  .page-link
    font-size: 20px

  .rating-page
    .box-text
      font-size: 16px

  .rating-page-img
    font-size: 14px

    .image
      height: 320px

  .list-number
    font-size: 16px

  .school-page h1
    font-size: 34px

  .school-box .gallery-box__img
    width: 100%
    height: 200px
    border-radius: 5px 5px 0 0
    margin: 0 auto

  .school-box .gallery-box__body
    width: 100%
    padding: 20px

  .school-box .gallery-box__footer
    margin: 10px 0 0

  .contacts-page-app
    margin: 30px 0 0
    padding: 0
    border: none

  .header
    padding: 10px 0
    position: absolute
    background: transparent
    border: none
    .logo
      order: 1
      margin: 0 0 0 auto

  .btn-burger__text
    display: none

  .btn-burger__icon
    margin: 0

  .home
    padding: 120px 0 80px
    background-position: 40% center
    .box-text
      padding: 0 120px 0 0
    &:before
      display: none
    h1
      color: $accent

  h1
    font-weight: 500
    font-size: 24px

  .about
    padding: 30px 0 40px

  .title
    margin: 0 auto 0 10px
    color: $accent

  .menu-brands
    .row
      flex-wrap: nowrap
      overflow-x: auto
      padding: 0 10px 0 0
    a
      height: 30px
      font-size: 14px

  .nav-tabs
    flex-wrap: nowrap
    overflow-x: auto
    padding: 0 10px 0 0

  .brands-section
    margin: 20px 0
    .form-search
      display: flex
      width: 49%
      input
        font-size: 12px
    .sorting-box
      width: 49%
      margin: 0 0 20px auto
      justify-content: flex-end
      p
        display: none
    .sorting-wrapper
      .sorting-box
        width: 100%

  .sorting-wrapper
    margin: 0 0 0 auto
    width: 49%

  .flavor-page-line
    flex-direction: column
    align-items: flex-start
    margin: 0 0 20px

  .result-total
    margin: 5px 0 0

  .list-tags
    font-size: 10px
    li
      margin: 0 3px 3px 0

  .flavor-page-details__img
    max-width: 250px


@media only screen and (max-width: 480px)
  footer
    .application
      li
        a
          max-width: 80px

  h3
    font-size: 16px

  .gallery-brand-card .brand-info-gallery
    justify-content: space-between

    .brand-info-gallery__item
      width: 48%
      margin: 0 0 20px
      display: none
      &:nth-child(-n+2)
        display: flex

  .reviews-brand-card__content
    width: 100%
    padding: 0
    margin: 20px 0 0

  .reviews-brand-card__col
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    width: 100%

  .reviews-grade
    margin: 20px 0 0
    width: 100%

  .reviews-grade__rating
    justify-content: center

  .reviews-name
    padding: 0 10px
    text-align: center

  .reviews-id
    margin: 10px 0 0
    text-align: center

  .reviews-brand-card
    .btn
      max-width: 140px

  .sorting-wrapper
    flex-direction: column
    align-items: flex-start

    .sorting-box
      margin: 0 0 20px

  .flavor-card
    flex-direction: column
    align-items: flex-start

    &__img
      margin: 0 auto

    &__body
      padding: 0
      margin: 20px 0 0
      width: 100%

    .btn
      margin: 10px 0 0

  .modal-flavor .flavor-card__body
    width: 100%

  .flavor-card-characteristics__item
    width: 100px

  .modal-flavor .flavor-card
    margin: 0 0 20px

  .flavor-rating .details-rating
    column-count: 1

  .flavor-rating .btn-group
    flex-direction: column
    align-items: flex-start

    .btn
      margin: 0 0 10px

  .reviews-ava
    margin: 0 auto

  .reviews-name
    width: 100%

  .flavor-icons li
    margin: 0 10px 5px 0

    &:last-child
      margin: 0 0 5px

  .flavor-page-details
    .reviews-brand-card__content
      width: 100%
      padding: 0
      margin: 0

    .reviews-brand-card__col
      margin: 0 auto

  .mixes-category
    height: 140px
    font-size: 16px

    &__icon
      height: 57px

  .mix-box
    &__img
      margin: 0 auto

    &__footer
      margin: 10px 0 0

    &__body
      width: 100%
      padding: 0
      margin: 10px 0 0

  .select-city
    margin: 10px 0 0
    width: 100%
    max-width: none

  .hookah-box
    &__img
      width: 80px
      height: 80px

    &__body
      width: calc(100% - 80px)

    .address
      font-size: 14px

  .shop-page .mail-links
    width: 100%
    margin: 0 0 10px

  .shop-card__img
    width: 80px
    height: 80px
    min-width: 80px

  .event-box
    &__img
      width: 100%
      height: 200px

    &__body
      width: 100%
      padding: 10px

  .comments-rating
    margin: 30px 0 0

    h3
      width: 100%
      margin: 0 0 10px

    .sorting-box
      margin: 0 auto 0 0

  .btn
    font-size: 15px

  .reviews-brand-card
    padding: 20px
    
  .comments-rating-box
    .reviews-name
      text-align: left
      padding: 0
    .reviews-id
      margin: 0
      text-align: left
    .reviews-brand-card__content
      margin: 10px 0 0
      padding: 0

  .school-box .gallery-box__footer
    .date
      width: 50%
      order: -1
      margin: 0 0 10px
    .btn
      margin: 0 auto

  .school-page h1
    font-size: 26px

  header
    position: fixed
    left: 0
    top: 0
    background: #fff
    z-index: 3
    width: 100%
    border-bottom: 1px solid rgba($text, .3)
    padding: 10px 0
    .btn-burger
      order: -1
    .links-cabinet
      display: none
    .logo
      order: 1
      margin: 0 0 0 auto

  .content
    padding: 64px 0 0

  .content-home
    padding: 0



/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .home
    background-position: 45% center
    .box-text
      padding: 0 70px 0 0

@media only screen and (max-width: 360px)
  .logo
    max-width: 100px

  .comments-rating
    .sorting-box
      width: 100%
      margin: 0 0 10px
      max-width: none

  .content
    padding: 50px 0 0

  .content-home
    padding: 0